<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Default Effects</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string></string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Snail Effect</string>
			<key>Key</key>
			<string>snailEffectSettingTitle</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
			<key>Key</key>
			<string>snailEffectSetting</string>
			<key>DefaultValue</key>
			<real>0.5</real>
			<key>MinimumValue</key>
			<real>0.4</real>
			<key>MaximumValue</key>
			<real>0.8</real>
			<key>MinimumValueImage</key>
			<string></string>
			<key>MaximumValueImage</key>
			<string></string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string></string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Rabbit Effect</string>
			<key>Key</key>
			<string>rabbitEffectSettingTitle</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
			<key>Key</key>
			<string>speedEffectSetting</string>
			<key>DefaultValue</key>
			<real>2</real>
			<key>MinimumValue</key>
			<real>1.25</real>
			<key>MaximumValue</key>
			<real>3</real>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string></string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Vader Effect</string>
			<key>Key</key>
			<string>vaderEffectSettingTitle</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
			<key>Key</key>
			<string>vaderEffectSetting</string>
			<key>DefaultValue</key>
			<integer>-1000</integer>
			<key>MinimumValue</key>
			<integer>-1500</integer>
			<key>MaximumValue</key>
			<integer>-500</integer>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string></string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Chipmunk Effect</string>
			<key>Key</key>
			<string>chipmunkEffectSettingTitle</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
			<key>Key</key>
			<string>chipmunkEffectSetting</string>
			<key>DefaultValue</key>
			<integer>2000</integer>
			<key>MinimumValue</key>
			<integer>1200</integer>
			<key>MaximumValue</key>
			<integer>2400</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Icon Credits (The Noun Project)</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string></string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Microphone by Zech Nelson</string>
			<key>Key</key>
			<string>micCredit</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string></string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Pause by Zech Nelson</string>
			<key>Key</key>
			<string>pauseCredit</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string></string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Stop by Daniel Simon</string>
			<key>Key</key>
			<string>stopCredit</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string></string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Rabbit by Rémy Médard</string>
			<key>Key</key>
			<string>rabbitCredit</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string></string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Squirrel by Tracy Hudak</string>
			<key>Key</key>
			<string>squirrelCredit</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string></string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Darth Vader by Rohith M S</string>
			<key>Key</key>
			<string>darthCredit</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string></string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Snail Icon in the Public Domain</string>
			<key>Key</key>
			<string>snailCredit</string>
		</dict>
	</array>
</dict>
</plist>
